a img.responsive-img {
  height: 60px;
}

.link-navbar {
  color: #0000CD;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-wrapper {
  background-color: #E0FFFF;
}

a i.material-icons, .sidenav li>a {
  color: #0000CD;
}

.title-cep {
  padding: 5px;
  font-size: 30px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #6495ED;
}

.container-busca-cep {
  margin-top: 50px;
}

h2 {
  color: #ffff;
}